*
{
	margin: 0;
	padding: 0;
}
body
{
	font-family: sans-serif;
}
#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar
{
	background-image: linear-gradient(to right, #efbad3,#a254f2);
	padding: 0 !important;
}
.navbar-brand img
{
	height: 40px;
	padding-left: 20px
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
	font-weight: 600;
	float: right;
	text-align: left;
}
#navbarDropdown
{
  color: #fff;
}
.dropdown-item
{
  color: black;
}
.fa-bars
{
	color: #fff;
	font-size: 30px !important;
}
.navbar-toggler
{
	outline: none !important;
}



/*---------------banner section-----------*/

#banner
{
	background-image: linear-gradient(to right,#efbad3,#a254f2);
	color: #fff;
	padding-top: 5%;
}
.promo-title
{
	font-size: 40px;
	font-weight: 600;
	margin-top: 100;
}
.play-btn
{
	width: 45px;
	margin: 10px;
}
#banner a
{
	color: #fff;
}
.bottom-img
{
	width: 100%;
}

/*-------about us-------*/

#about-us
{
	background: #f8f9fa;
	padding-bottom: 50px;
	padding-top: 50px;
}
.about-title
{
	font-size: 40px;
	font-weight: 600;
	margin-top: 8%;
}
#about-us ul li
{
	margin: 10px 0;
}
#about-us ul
{
	margin-left: 30px;
}

/*--------------footer----------*/

#footer
{
	background-image: linear-gradient(to right, #a517ba, #5f1782);
	color: #fff;
}
.footer-img
{
	width: 100%;
}
.footer-box
{
	padding: 20px;
}
.footer-box img
{
	width: 80px;
	margin-bottom: 20px;
}
.footer-box .fa
{
	margin-right: 8px;
	font-size: 25px;
	height: 40px;
	width: 40px;
	text-align: center;
	padding-top: 7px;
	border-radius: 2px;
	background-image: linear-gradient(to right, #a517ba, #5f1782);
}

.footer-box .form-control
{
	box-shadow: none !important;
	border: none;
	border-radius: 0;
	margin-top: 25px;
	max-width: 250px;
}
.footer-box .btn-primary
{
	box-shadow: none !important;
	border: none;
	border-radius: 0;
	margin-top: 30px;
	background-image: linear-gradient(to right, #a517ba, #5f1782);
}
hr
{
	background-color: #fff;
}
.copyright
{
	margin-bottom: 0;
	padding-bottom: 20px;
	text-align: center;
}